# Ignorar archivos de dependencias
node_modules/
venv/
dist/
build/

# Ignorar archivos de configuración de IDE
*.vscode/
*.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales
*.tmp
.env